
.aboutus_first>.container{
    /*border:1px solid blue*/
}
.aboutus{
    /*border:1px solid blue;*/
    position:relative;
    min-height:500px;
    /*border:1px solid green;*/
}
.aboutus .aboutus_border{
    width: 300px;
    height: 400px;
    border: 2px solid #FFC600;
    position: absolute;

}
.aboutus .aboutus_pic{
    width: 300px;
    height: 400px;
    background:#a09292;
}
.aboutus_text{
    width: 60%;
    height: 400px;
    overflow:hidden;
    /*outline:1px solid;*/
    text-indent:50px;
    text-align:justify;
}
.aboutus_second>.container{
    /*border:1px solid green*/
}
.aboutus_second_text{
    width:100%;
    /*outline:1px solid red;*/
    text-align:justify;
}
.aboutus_item{
    width: 30%;
    height: 230px;
    background: #C4C4C4;
}
@media(max-width:995px){
    .aboutus_text{
        margin: 30px 30px 0!important;
        width:100%!important;
    }
    .aboutus{
        justify-content:center!important;
    }
    .aboutus_second_text{
        width: 90%!important;
        margin:30px!important;
    }
}

@media(max-width:769px){
    .aboutus_item{
        width:70% !important;
        margin:20px auto  !important;
        justify-content:center !important
    }
    .aboutus_text{
        width:100% !important;

    }
    .aboutus_second_text{
        /*margin:20px auto  !important;*/
    }
}
