.alumni_association{
    margin: 5% 10%;
}
.alumni_label{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 51px;
    line-height: 56px;
    letter-spacing: 0.08em;
    color: #000000;
    margin: 3%; 
}
.alumni_image{
    margin: 5% 10%;
    top: 50%;
    
}

.alumni_text{
font-family: Roboto;
font-weight: 400;
font-size: 30px;
line-height: 33px;
color: #000000;
}

.image_col{
    width: 450px;
    height: 270px;
    padding: 20px;
    /* background-color: silver; */
    

}
.image_col>img{
    width: 100%;
    height: 100%;
}

