
.alumni_text{
    
    font-size: 20px;
    line-height: 33px
}

.image_col{
    width: 450px;
    height: 270px;
    padding: 20px;
    /* background-color: silver; */
    

}
.image_col>img{
    width: 100%;
    height: 100%;
}


