
  button {
    background: #ffc600;
    border: none;
  }
  .read_more{
    margin-top: 3px;
    height: 45px;
    width: 130px;
    color: white;
  }
  .home_third {
    background: linear-gradient(
      90deg,
      #253a5c 2.93%,
      #253a5c 56.07%,
      #465072 103.95%
    );
  }
  .home_third h2 {
    font-weight: 700;
  }
  
  .event {
    width: 250px;
    height: 400px;
    margin-right: 1.5em;
    background: #fff;
  }
  .news_img {
    height: 200px;
    width: 100%;
  }
  .news_img > img {
    height: 100%;
    width: 100%;
  }
  
  .event > div > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .event > div > ul li a {
    text-decoration: none;
    color: #253a5c !important;
  }
  .home_forth {
    background: url("../img/img_home/skyscraper-1245909_1280 1.png") no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .home_forth > .container {
    height: 600px;
  }
  /* slide start */
  .slide {
    height: 320px;
    width: 800px;
    margin: 50px auto;
    overflow: hidden;
    border: 1px solid red;
  }
  .slide_1 {
    height: 300px;
    background: grey;
  }
  .slide_2 {
    height: 300px;
    background: grey;
  }
  
  /* slide end */
  
  /* section fifth */
  .label{
    width: 100%;
    height: 250px;
    text-align: center;
    padding: 96px;
  }
  .label>h2{
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
letter-spacing: 0.08em;
color: black;
  }
  .partnerses {
    margin: 148px auto;
  }
  .partners {
    height: 290px;
    width: 627px;
    border: 1px solid #adadad;
  }
  .partner_img {
    width: 208px;
    padding-left: 25px;
    height: 244px;
    position: relative;
  }
  .partner_description{
    font-size: 20px;
  }
  .partner_img > img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .partner_text {
    width: 343px;
      margin-left: 30px;
      height: 225px;
      font-size: 17px;
    color: #253a5c;
  }
  .partner_name{
    font-size: 36px;
    font-weight: 700;
  }
  
  @media (max-width: 1200px) {
    .partnerses {
      width: 100% !important;
    }
  }
  
  @media (max-width: 770px) {
    .training > h2 {
      font-size: 3.9vw;
    }
  }
  @media (max-width: 767px) {
    .home_border {
      transform: translate(-60%, -97%) !important;
    }
  }
  
  /* home css */
  .footer_header {
    width: 100%;
    min-height: 300px;
    background: url("../img/img_footer/map.png") #465072;
    background-size: cover;
  }
  
  .footer_img.footer_img {
    background: rgba(37, 58, 92, 0.82);
  }
  .footer_img > .container {
    /* border:1px solid red */
  }
  .footer_news {
    /* border:1px solid red */
  }
  .footer_news > div {
    font-size: 1vw;
  }
  
  .footer_bottom > span {
    color: red;
  }
  
  .footer_all {
    /* border:1px solid green */
  }
  .footer_contact_news > a > i {
    font-size: 25px !important;
  }
  @media (max-width: 1441px) {
    li > a {
      font-size: 1vw;
      padding: 10px !important;
    }
  }
  @media (max-width: 1200px) {
    .search_section,
    .navbar_nav,
    .footer_item {
      width: 100% !important;
    }
  
    li > a {
      font-size: 13px;
    }
  }
  
  @media (max-width: 769px) {
    .section_contact_text {
      /* border:1px solid red; */
      padding: 10px !important;
      text-align: justify;
    }
  
    .item {
      width: 70% !important;
      margin: 20px auto !important;
      justify-content: center !important;
    }
    .footer_contact_news {
      /* border:1px solid blue; */
      width: 100% !important;
      margin: 16px !important;
      font-size: 13px;
      padding: 10px;
      text-align: justify;
    }
  
    .footer_contact_news:nth-child(2) {
      text-align: center;
    }
  }
  