body{
    margin:0;
}
header{
    width:100%;
    position:fixed;
    top:0;
    z-index: 999;
}

.header_first{
    width: 100%;
    background: #253A5C
}
.header_first>.container{
    height: 70px;
     /*border:1px solid blue;*/
}
.search_div{

    position:relative;
}
.search_div>img{
    position:absolute;
    top:0;
    width:35px;
}
.search_section{
    width:85%;
/* border:1px solid red; */
margin:0 auto;
}
.header_second{
    width: 100%;
    background: #465072
}


.lang ul{
    margin:0;
    padding:0;
    list-style:none;
}
.lang>input{
    border:2px solid #FFC600;;
    outline:none;
}
.dropdown-menu{
    background: #465072;

}
.dropdown-menu>li:hover>a{
    color:#465072 !important;
}
li:hover{
    border-bottom:2px solid  #FFC600;
}
a{
    text-decoration:none
}

#section_index{
    margin-top: 120px;
}

.item{
    width: 30%;
    height: 230px;
    background: #C4C4C4;

}
.section_contact_text{
    text-indent: 50px;
    text-align:justify
}

.footer_header{
    width: 100%;
    min-height: 300px;
    background: url('../img/img_footer/map.png') #465072;
    background-size: cover;
}
.footer_item{
    width:85%;
    margin:0 auto;
}
.footer_img.footer_img{
    background: rgba(37, 58, 92, 0.82);
}
.footer_img>.container{
    /* border:1px solid red */
}
.footer_news{
    /* border:1px solid red */
}
.footer_news>div{
    font-size:1vw;
}

.footer_bottom>span{
     color:red
}

.footer_all{
    /* border:1px solid green */
}
.footer_contact_news>a>i{
    font-size: 25px !important;
}
@media(max-width:1441px){
    li>a{
        font-size:1vw;
        padding:10px !important;
    }
}
@media(max-width:1200px){
    .search_section,.navbar_nav,.footer_item{
        width:100% !important;
    }
    li>a{
        font-size:13px;
    }

}

@media(max-width:769px){

    .section_contact_text{
        /* border:1px solid red; */
        padding:10px !important;
        text-align:justify
    }

    .item{
        width:70% !important;
        margin:20px auto  !important;
        justify-content:center !important

    }
    .footer_contact_news{
        /* border:1px solid blue; */
        width:100% !important;
        margin:16px !important;
        font-size:13px;
        padding:10px;
        text-align:justify
    }

    .footer_contact_news:nth-child(2){
        text-align:center;
    }

}
