body{
    margin:0;
}

header{
    width:100%;
    position:fixed;
    top:0;
    z-index: 999;
}
/* header_first started*/
.header_first{
    width: 100%;
    background: #253A5C
}

.search_section{
    height: 80px;

}

.search_div>img{
    position:absolute;
    top:0;
    width:35px;
}

#logo{
    width:70px;
    height:70px;
    background:url('../img/img_header/04.png')no-repeat;
    background-size:cover;
}

.lang ul{
    margin:0;
    padding:0;
    list-style:none;
}
.lang>input{
    border:2px solid #FFC600;;
    outline:none;
}
li:hover{
    border-bottom:2px solid  #FFC600;
}
a{
    text-decoration:none
}
/* header_first end*/


/*menu start*/
.header_second{
    width: 100%;
    background: #465072
}
.navbar{
    margin:0;
    padding:0;
}

/*menu end*/


#section_index{
    margin-top: 120px;
}

.item{
    width: 30%;
    height: 230px;
    background: #C4C4C4;

}
.section_contact_text{
    text-indent: 50px;
    text-align:justify
}
/* footer section started */
.footer_header{
    width: 100%;
    min-height: 300px;
    background: url('../img/img_footer/map.png') #465072;
    background-size: cover;
}
.footer_item{
    /*width:85%;*/
    /*margin:0 auto;*/
    border:2px solid  red;
}
.footer_img{
    background: rgba(37, 58, 92, 0.82);
    min-height:350px;
}

.footer_bottom>span{
     color:red
}

/* footer section end */

@media(min-width:1200px){
    #mynav{
        width:1120px!important;
    }
}
@media(min-width:992px){
    #mynav{
        width:945px;
    }
    a{
        font-size:15px !important;
    }
}
@media(min-width:768px) and (max-width:992px){
    .footer_contact_news p,a{
        font-size:14px !important;
    }
}

@media(min-width:320px) and (max-width:768px){
    .footer_contact_news{
        width:100% !important;
        padding-top:10px !important;
        padding-left:48px !important;

    }
}

/*

@media(max-width:769px){

    .section_contact_text{

        padding:10px !important;
        text-align:justify
    }

    .item{
        width:70% !important;
        margin:20px auto  !important;
        justify-content:center !important

    }

}*/
